<ion-view view-title="费用详情">
    <ion-content>
        <div class="expense_detail_1">
            <img src="img/car/car.png" alt="">
            <div class="title">私车公用</div>
            <p class="journey">里程：5.0km</p>
        </div>
        <div class="expense_detail_2">
            <img class="starter" src="img/car/starter.png">
            <img class="line" src="img/car/line.png">
            <img class="dest" src="img/car/dest.png">
            <div class="start-title">上海金环商务花园16号楼</div>
            <div class="reference-journey">参考历程5.0公里</div>
            <div class="end-title dest-title">上海佳通轮胎 （长宁区临虹路280 - 2号楼）</div>
        </div>
        <div class="expense_detail_3">
            <img src="img/car/map.png" alt="">
        </div>
        <!--<div class="expense-item"  ng-if="view.content === 'passed'" ng-repeat="item in view.reportList" ng-click="goTo('create')">
            <div class="title">
                <span>{{item.code}}</span>
                <span class="date">{{item.date}}</span>
            </div>
            <div class="report-name">私车公用报销单</div>
            <div class="content">
                <span>{{item.useTime}}</span>
                <span class="lenght">{{item.lenght}}</span>
                <span class="money">{{item.total}}</span>
            </div>
            <div class="footer">
                <span>石顺</span>
                <span>门户事业部</span>
            </div>
        </div>
        <div class="expense-item"  ng-if="view.content !== 'passed'" ng-repeat="item in view.reportList" ng-click="goTo('passed')">
            <div class="title">
                <span>{{item.code}}</span>
                <span class="date">{{item.date}}</span>
            </div>
            <div class="report-name">私车公用报销单</div>
            <div class="content">
                <span>{{item.useTime}}</span>
                <span class="lenght">{{item.lenght}}</span>
                <span class="money">{{item.total}}</span>
            </div>
            <div class="footer">
                <span>石顺</span>
                <span>门户事业部</span>
            </div>
        </div>-->
    </ion-content>
</ion-view>
