<ion-view view-title="审批">
    <ion-content>
        <div class="nav-bar">
            <img ng-if="view.content !== 'passed'" src="img/car/approvebar.png" alt="">
            <img ng-if="view.content === 'passed'" src="img/car/passed.png" alt="">
        </div>
        <div class="expense-item"  ng-if="view.content === 'passed'" ng-repeat="item in view.approveList" ng-click="goTo('create')">
            <div class="title">
                <span>{{item.code}}</span>
                <span class="date">{{item.date}}</span>
            </div>
            <div class="report-name">私车公用报销单</div>
            <div class="content">
                <span>{{item.useTime}}</span>
                <span class="lenght">{{item.lenght}}</span>
                <span class="money">{{item.total}}</span>
            </div>
            <div class="footer">
                <span>石顺</span>
                <span>门户事业部</span>
            </div>
        </div>
        <div class="expense-item"  ng-if="view.content !== 'passed'" ng-repeat="item in view.reportList" ng-click="goTo('passed')">
            <div class="title">
                <span>{{item.code}}</span>
                <span class="date">{{item.date}}</span>
            </div>
            <div class="report-name">私车公用报销单</div>
            <div class="content">
                <span>{{item.useTime}}</span>
                <span class="lenght">{{item.lenght}}</span>
                <span class="money">{{item.total}}</span>
            </div>
            <div class="footer">
                <span>石顺</span>
                <span>门户事业部</span>
            </div>
        </div>
    </ion-content>
</ion-view>
